@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

html,
body {
  top: 0;
  margin: 0;
  width: auto;
  display: flex;
  min-height: 95vh;
  font-family: "Fira Code", monospace;
  flex-direction: column;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e79c6e&c2=57117a&gt=l&gd=dtl
*/
  background: #e79c6e;
  background: linear-gradient(135deg, #e79c6e, #57117a);
}

/* frmae */
.cell {
  flex: 0.5;
  margin: 1px;
  display: flex;
  resize: horizontal;
  position: relative;
  align-items: flex-start;
  /* background-color: #d6d6d6; */
  transition: all 0.4s ease-in;
  border-radius: 10px 10px 0 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.cell.done {
  /* From https://css.glass */
  background: rgba(156, 236, 91, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(156, 236, 91, 0.3);
  transition: all 0.4s ease-out;
}
.cell.current {
  /* From https://css.glass */
  background: rgba(97, 132, 210, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(97, 132, 210, 0.3);
  transition: all 0.4s ease-out;
}
/* Select */
.range {
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}

/* button */

.btn {
  border: none;
  width: 7em;
  height: 2.5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #aaaaaa;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

/* select */

.box select {
  background-color: #777f87;
  color: white;
  padding: 5px;
  width: 200px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
